@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------
              Scrollbar
------------------------------------------------------------- */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #45a29e);
  border-radius: 6px;
}

/* -------------------------------------------------------------
              Body-bg
------------------------------------------------------------- */

body {
  --s: 20px; /* size of the lines */
  --g: 15px; /* gap between lines */

  --c1: #1f2833;
  --c2: #1f2833;

  background: conic-gradient(
        at var(--s) calc(100% - var(--s)),
        #0000 270deg,
        var(--c1) 0
      )
      calc(var(--s) + var(--g)) 0,
    linear-gradient(var(--c2) var(--s), #0000 0) 0 var(--g),
    conic-gradient(
      at var(--s) calc(100% - var(--s)),
      #0000 90deg,
      var(--c2) 0 180deg,
      var(--c1) 0
    ),
    #31405236;
  background-size: calc(2 * (var(--s) + var(--g)))
    calc(2 * (var(--s) + var(--g)));
}

/* -------------------------------------------------------------
              My Container
------------------------------------------------------------- */
.my-container {
  @apply lg:w-3/5 lg:mx-auto;
}

/* -------------------------------------------------------------
              Banner Section Start
------------------------------------------------------------- */

.banner-img {
  box-shadow: 16px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img::before {
  content: "";
  background-image: conic-gradient(#66fcf1 20deg, transparent 120deg);
  width: 180%;
  height: 180%;
  position: absolute;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.i-title {
  height: 50px;
  overflow: hidden;
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

.i-title-item {
  height: 50px;
  font-weight: bold;
  color: #a2bcd6;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes move {
  33% {
    transform: translateY(-50px);
  }
  66% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-150px);
  }
}

/* -------------------------------------------------------------
              Banner Section End
------------------------------------------------------------- */

/* -------------------------------------------------------------
              Projects Section Start
------------------------------------------------------------- */
.project-img {
  height: 100%;
  width: 100%;
  transition: all 5s ease;
  object-fit: cover;
  object-position: top;
}
.project-img:hover {
  object-position: bottom;
}
.projects {
  box-shadow: 8px 12px 20px #6beee78c;
}
.projects-middle {
  box-shadow: -8px 12px 20px #6beee78c;
}
/* -------------------------------------------------------------
              Projects Section End
------------------------------------------------------------- */
